<%# create-account.ejs - Create account page %>
<%- contentFor('body') %>
<div class="container">
	<h1>Create Account</h1>
	<form action="/create-account" method="POST">
		<input type="text" id="username" name="username" placeholder="username" required>
		<input type="email" id="email" name="email" placeholder="email" required>
		<input type="password" id="password" name="password" placeholder="password" required>
		<button type="submit">Create Account</button>
	</form>
</div>

<!-- vim: set ts=2 sw=2 sts=2 noet filetype=html: -->
